.productList {
  overflow-y: scroll;
  scrollbar-color: #696969 #8585ad;
  scrollbar-width: thin;
  height: 75%;
}

.productList::-webkit-scrollbar {
  width: 12px;
  
}
.productList::-webkit-scrollbar-track {
  background: #2f2f37;
  margin-top: 40px;
  margin-bottom: 40px;
}
.productList::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}

.ingredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
