.wrapper{
  display: flex;
  justify-content: flex-start; 
}

.itemsProfile{
  text-align: start;
  max-width: 320px;
}

.itemsProfile > p{
  cursor: pointer
}

.form > div{
  margin-top: calc(var(--offset-base-size)  * 4);
}