.burgerBlock {
    width: 272px;
    position: relative;
    cursor: pointer;
}

.burgerBlock img {
    width: 240px;
    height: 120px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
}
